$primary-color: #eaf2ffa4;
.message {
    height: 100vh;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    overflow: hidden;
    ::-webkit-scrollbar {
      display: none;
    }
    .details-wrapper {
        height: 100vh;
        width: 94%;
        background-color: transparent;
        margin-bottom: 30px;
        overflow: scroll;
    }

    .loading-bg{
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 100%;
      display:flex;
      background-color: rgba(252, 248, 248, 0.432) ;
      align-items: center;
      justify-content: center;
  }
}